@{
    ViewBag.Title = "About my application";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This is my first application with Asp.Net Entity framework. I have used C# as coding language and both enjoyed and learned a lot during the process.</p>
