@{
    ViewBag.Title = "Elahes contact information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Elahe Eskandari<br />
    Software developer<br />
    Stockholm<br/>
</address>

<address>
    <span><strong>E-mail:</strong>  <span>elahe199108@gmail.com</span> <p>elahe.eskandari@tietoevry.com</p><br /></span>
    <span> <strong>Telefon:</strong> <span>073-89 23 888</span></span>
</address>